#select-product{
    width: 2000 ;
}

.table-container{
    display: flex;
    align-content: space-between;
    align-items: flex-end;
    
}

#btn-add-row{
    margin-bottom: 25px;
    border-radius: 10px;
    border: 0;
}